.community-list-ant-design
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  @apply items-center border-[#E6E9ED];
}

.community-list-ant-design .ant-select-arrow {
  @apply text-lg text-[#133F42];
}
.community-list-ant-design
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  @apply rounded-md;
}

.community-list-ant-design
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  @apply px-2.5 sm:px-[18px];
}
.community-list-ant-design
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 34px;
}

.community-list-ant-design .ant-input-focused,
.ant-input:focus {
  @apply border-[#E6E9ED];
}

.community-list-ant-design .ant-input {
  @apply rounded-md border-[#E6E9ED] py-2.5 pl-[18px] pr-10;
}

.ant-select-tree-switcher {
  width: 0px !important;
}
.community-list-ant-design
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: #7b68ee;
  box-shadow: 0 0 0 2px rgb(123 104 238);
}
