:root {
  --marketPlaceUserBgGradient: linear-gradient(
    180deg,
    #4a1dc7 0%,
    #3c40c3 100%
  );
}

/* customize instrunctor tab bar */
.marketplace_user_ant_design
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn
  p {
  @apply font-semibold text-[#1a1a1a];
}
.marketplace_user_ant_design .ant-tabs .ant-tabs-tab {
  @apply text-[#4d4d4d];
}
.marketplace_user_ant_design .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > .ant-tabs-nav:before,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav:before {
  @apply block bg-ezy-primary;
}
.marketplace_user_ant_design .ant-tabs-tab {
  padding: 24px 0;
  @apply px-0 py-6;
}
.marketplace_user_ant_design .ant-tabs-nav {
  @apply border-b border-solid border-b-[#cccccc];
}
.marketplace_user_ant_design .ant-tabs-nav-more .anticon svg {
  @apply inline-block text-2xl;
}
.marketplace_user_ant_design .ant-tabs-nav-more {
  @apply px-2.5 py-2;
}

/* responsive tab button */
.marketplace_user_ant_design .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @apply mx-2.5 my-0 h-9 translate-y-[63%] items-center rounded-lg bg-white;
}

/* in responsive tab items shadwo remove */
.marketplace_user_ant_design
  .ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-left::before {
  @apply opacity-0;
}
.marketplace_user_ant_design
  .ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right::after {
  @apply opacity-0;
}

/* tab content wrapper */
.marketplace_user_ant_design .ant-tabs-content.ant-tabs-content-top {
  @apply pt-4;
}

/* ant design pagination css customization */
.marketplace_user_ant_design .ant-pagination-item-active {
  @apply rounded-full border-none;
}
.marketplace_user_ant_design .ant-pagination-item-active a,
.ant-pagination-item-active:hover a {
  @apply rounded-full text-white;
}
.marketplace_user_ant_design .ant-pagination-item {
  @apply rounded-full border-none;
}
.marketplace_user_ant_design .ant-pagination-item-link {
  @apply rounded-sm leading-[30px];
}

/* customize pagination number  */
.marketplace_user_ant_design .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  @apply flex items-center border-none bg-transparent text-lg;
}
.marketplace_user_ant_design .ant-pagination-options {
  display: none;
}
.marketplace_user_ant_design .ant-pagination-item {
  @apply bg-transparent;
}
.marketplace_user_ant_design .anticon svg {
  @apply text-lg;
}
.marketplace_user_ant_design
  .ant-pagination-prev:hover
  .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  @apply text-ezy-primary;
}

/* rating */
.marketplace_user_ant_design .ant-rate-star:not(:last-child) {
  @apply mr-[2px];
}
